* {
    margin: 1%;
    background-color: black;
    color: white;
}

ol {
    background-color: white;
}

li {
    color: black;
    background-color: white;
}

#list {
    background-color: rgb(115, 17, 243);
    height: 25%;
    padding: 1%;
}

input { 
    width: 30%;
    color: white;
    background-color: black;
    border: 0;
    padding: 1%;
}

input::placeholder {
    color: rgb(197, 197, 197);
}